@use '../abstracts/' as *;
@use '../base/globals';

.features {
   background-color: var(--bg-light);
   padding-block: fluid(80, 50) fluid(100, 50);

   // @include tablet {
   //    padding-block: rem(50);
   // }

   &__wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(10);

      @include mobile {
         justify-content: center;
      }
   }

   &__main {
      max-width: rem(580);
      display: flex;
      flex-direction: column;
      row-gap: rem(40);

      @include tablet {
         max-width: rem(490);
         row-gap: rem(20);
      }

      @include mobile {
         row-gap: rem(32);
      }
   }

   &__title-accent {
      @include fluid-text(24, 16);
      line-height: 0.83;
   }

   &__btn {
      align-self: start;

      @include mobile {
         align-self: center;
      }
   }

   &__list {
      display: flex;
      flex-direction: column;
      row-gap: rem(40);

      @include tablet {
         row-gap: rem(20);
      }
   }

   &__item {
      @include flex-center;
      gap: rem(16);
   }

   &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      width: rem(50);
      height: rem(50);
      border-radius: var(--border-radius-small);

      &--green {
         background-color: #e5eeeb;
      }

      &--blue {
         background-color: #e3e6ee;
      }

      &--yellow {
         background-color: #f3f1e1;
      }
   }

   &__item-title {
      font-weight: 700;
      line-height: 1.11;
   }

   &__desc {
      font-size: 14px;
      line-height: 1.43;
      color: #000;
   }

   &__gallery {
      max-width: rem(510);
      display: grid;
      gap: rem(10);
      grid-template-columns: 1fr 1fr;
   }

   &__image-wrapper {
      overflow: hidden;
   }

   &__image-wrapper:nth-child(1),
   &__image-wrapper:nth-child(4) {
      border-top-right-radius: rem(50);
      border-bottom-left-radius: rem(50);
   }

   &__image-wrapper:nth-child(2),
   &__image-wrapper:nth-child(3) {
      border-top-left-radius: rem(50);
      border-bottom-right-radius: rem(50);
   }

}